<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div id="header-div">
            <h1>Simple Blog-Like App</h1>
        <div class="nav-container">
                <div class="nav-item"><a href="/createPost">Create a Post</a></div>
                <div class="nav-item"><a href="/viewPosts">View Posts</a></div>
        </div>
    </div>
    <main>