<%- include("partials/header.ejs") %>
<form id="create-post-form" action="/submit" method="post">
    <textarea id="tekst" name="tekst" rows="10" cols="50"></textarea><br><br>
    <input type="submit" value="Ok">
</form>
<%- include("partials/footer.ejs") %>