<%- include("partials/header.ejs") %>
<form class="create-post-form" action="/edit" method="post">
    <textarea class="tekst" name="tekst-edit" rows="10" cols="50"><%= post %></textarea><br><br>
    <input type="hidden" name="postIndex" value="<%= index %>">
    <input type="submit" value="Edytuj">
</form>
<%- include("partials/footer.ejs") %>